<nav id="y" class="navbar navbar-default">
  <div id="r" class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="login">login</a></li>
      <li routerLinkActive="active"><a routerLink="Home">Home</a></li>
      <li routerLinkActive="active"><a routerLink="user">Utilisateurs</a></li>
      <li routerLinkActive="active"><a routerLink="Register">Register</a></li>

    </ul>
  </div>
</nav>
<div id="h" class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>